// fonts
$robotoCondensed-700: 'robotoCondensed-700';
$robotoCondensed-300: 'robotoCondensed-300';
$robotoCondensed-400: 'robotoCondensed-400';

$roboto-700: 'roboto-700';
$roboto-300: 'roboto-300';
$roboto-500: 'roboto-500';
$roboto-400: 'roboto-400';
$roboto-100: 'roboto-100';

$mgOpenModata-400: 'mgOpenModata-400';

$bigNoodleTitling-400: 'bigNoodleTitling-400';
$bigNoodleTitling-400-oblique: 'bigNoodleTitling-400-oblique';

// breakpoints
$mobile-bp: 480px;
$tablet-bp: 769px;
$laptop-bp: 1024px;

// colors
$orange: #f4511e;